*{
    box-sizing: border-box;

}
html, body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(153, 144, 177);
}
body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 10px;
}
h2{
    background-color: yellow;
    color: blue;
    padding: 5px;
    border: 3px solid blue;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: yellow;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 20px;
}
